body {
    background-color: #1e211e;
    color: white;
}

#establishment {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #eee;
}

#establishment caption {
    text-align: center;
    font-size: large;
}

#establishment thead th:nth-child(1) {
    width: 20%;
}

#establishment thead th:nth-child(2) {
    width: 20%;
}

#establishment thead th:nth-child(3) {
    width: 20%;
}

#establishment thead th:nth-child(4) {
    width: 20%;
}

#establishment thead th:nth-child(5) {
    width: 20%;
}

#establishment th,td {
    padding: 15px;
    text-align: center;
}

#establishment tbody td {
    text-align: center;
}
#repertoire-header {
    color: #fff;
}
#repertoire-header div {
    background: #aaa;
    margin-bottom: 10px;
}

#repertoire-header h3 {
    margin-top: 10px;
    display: inline-block;
}

#repertoire-header button {
    margin-top: 10px;
    float: right;
    line-height: 1.1;
}

#repertoire-header button:after {
    content: "";
    display: block;
    clear: both;
}

#repertoire-header span {
    font-size: 12px;
}

#repertoire-create-form {
    border: 1px solid #eee;
    border-radius: 5px;
    margin-bottom: 10px;
}

#repertoire-create-form h3 {
    text-align: center;
}

#repertoire-create-form .btn-wrapper {
    text-align: center;
}

#repertoire {
    list-style: none;
    padding-left: 0;
}

#repertoire li {
    padding: 5px;
    border: 1px solid #eee;
}

#repertoire .title {
    margin-top: 10px;
}

#repertoire .info-block > div { 
    padding-top: 2px;
}

#repertoire .projection-block a {
    padding: 10px;
    margin-bottom: 3px;
    margin-right: 3px;
}

#repertoire .projection-block .time {
    padding: 0;
    margin: 0;
}

#repertoire .projection-block hr {
    padding: 0;
    margin: 0;
}

.nav-tabs > li {
    float:none;
    display:inline-block;
}

.nav-tabs {
    text-align: center;
    margin-bottom: 10px;
}

.nav-tabs a:hover {
    cursor: pointer;
}
.days {
    display: inline-block;
    padding-left: 15px;
}

.panel ul {
    list-style: none;
    padding-left: 0;
}

.panel button {
    margin-top: 5px;
}

.panel-hover:hover {
    cursor: pointer;
}