<!DOCTYPE html>
<html ng-app="isaProject">
<head>
<meta charset="utf-8">
<title>ISA Project</title>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
	crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
	integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
	crossorigin="anonymous">

<link rel="stylesheet" href="css/style.css">
</head>
<body>
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<ul class="nav navbar-nav">
				<li><a href="#!account">Home</a></li>
				<li><a href="#!pozorista">Theatre</a></li>
				<li><a href="#!bioskopi">Cinema</a></li>
				<li ng-if="loggedIn"><a href="#!prijatelji">Friends</a></li>
				<li ng-if="loggedIn"><a href="#!rezervacije">Reservations</a></li>
				<li ng-if="loggedIn"><a href="#!podesavanja">Settings</a></li>
				<li ng-if="user.role=='DEFAULT'"><a href="#!account/fanZona">Fan zone</a></li>
				<li ng-if="user.role=='SYS_ADMIN'"><a href="#!adminSistema">System admin</a>
				<li ng-if="user.role=='FAN_ZONE_ADMIN'"><a href="#!adminFanZone">Fan zone Admin</a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
			  	<li ng-if="!loggedIn"><a href="#!registracija">Registration</a></li>
				<li ng-if="!loggedIn"><a href="#!logovanje">Login</a></li>
			</ul>
			<form ng-controller="LoginController" class="navbar-form navbar-right" ng-if="loggedIn">
				<label style="color:darkgrey; padding-right: 10px">Logged on as: <b>{{ user.email }}</b></label>
				<button class ="btn" ng-click="logOut()">Log out</button>
			</form>
		</div>
	</nav>

	<div class='container' ng-view></div>

	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
		integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
		crossorigin="anonymous"></script>
	<script
		src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.js"></script>
	<script
		src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.js"></script>
	<script src="javascript/app.js"></script>
	<script src="javascript/routes.js"></script>

	<!-- SERVICES -->
	<script src="javascript/services/fanZone-service.js"></script>
	<script src="javascript/services/fanZoneAdmin-service.js"></script>
	<script src="javascript/services/sysAdmin-service.js"></script>
	<script src="javascript/services/userService.js"></script>
	<script src="javascript/services/friendshipService.js"></script>
	<script src="javascript/services/establishment-service.js"></script>

	<!-- CONTROLLERS -->
	<script src="javascript/controllers/fanZone-controller.js"></script>
	<script src="javascript/controllers/sysAdmin-controller.js"></script>
	<script src="javascript/controllers/fanZoneAdmin-controller.js"></script>
	<script src="javascript/controllers/registration-controller.js"></script>
	<script src="javascript/controllers/login-controller.js"></script>
	<script src="javascript/controllers/account-controller.js"></script>
	<script src="javascript/controllers/establishment-controller.js"></script>

	<!-- DIRECTIVES -->
	<script src="javascript/directives/confirm-click.js"></script>
</body>
</html>
