<input type="text" ng-model="FriendshipCtrl.criteria">
<button ng-click="FriendshipCtrl.search()">Search</button>

<div ng-if="FriendshipCtrl.searchResult != ' ' ">
	<ul>
		<li ng-repeat="result in FriendshipCtrl.searchResult">

			{{result.name}} {{result.surname}}
			<button ng-click="FriendshipCtrl.addFriendship(result)">Add friend</button>
		</li>
	</ul>
</div>

<div ng-if="FriendshipCtrl.pendingRequests != ' ' ">
	<h3>Friend requests</h3>
	<ul>
		<li ng-repeat="request in FriendshipCtrl.pendingRequests">

			{{request.name}} {{request.surname}}
			<button ng-click="FriendshipCtrl.confirmFriendship(request)">Accept friend</button>
		</li>
	</ul>
</div>

<div ng-if="FriendshipCtrl.friends != ' ' ">
	<h3>Friends</h3>
	<ul>
		<li ng-repeat="friend in FriendshipCtrl.friends">

			{{friend.name}} {{friend.surname}}
			<button ng-click="FriendshipCtrl.deleteFriendship(friend)">Delete friend</button>
		</li>
	</ul>
</div>
