<ul id="repertoire">
    <li class="col-md-12" ng-repeat="reservation in ReservationViewCtrl.reservationsAsOwner">
        <div>
            <div class="col-md-3 text-center">
                <a href="">
                    <img class="img-responsive" width="190" height="285" src="" alt="No image yet">
                </a>
            </div>
            <div class="col-md-5">
                <h3 class="title">{{reservation.event.name}}</h3>
                <div class="info_block">
                    <div>
                        <strong>Režiser: </strong>{{reservation.event.director}}</div>
                    <div>
                        <strong>Glumci: </strong>{{reservation.event.cast}}</div>
                    <div>
                        <strong>Žanr: </strong>{{reservation.event.genre}}</div>
                    <div>
                        <strong>Trajanje: </strong>{{reservation.event.duration}} min</div>
                    <div>
                        <strong>Opis: </strong>{{reservation.event.description}}</div>

                </div>
                <div class="info_block">
                    <div>
                        <strong>Datum i vreme: </strong>{{reservation.reservation.projection.dateAndTime | date:'short'}}</div>
                    <div>
                        <strong>Pozvani prijatelji: </strong>
                        <span ng-repeat="friend in reservation.reservation.guests">{{friend.name}} {{friend.surname}} </span>
                    </div>
                    <div>
                        <strong>Ocena ambienta: </strong>{{reservation.reservation.ambientRating}}</div>
                    <div>
                        <strong>Ocena filma: </strong>{{reservation.reservation.eventRating}}</div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">Izmena ocena</div>
                    <div class="panel-body">
                        <form>
                            <div>
                                <strong>Nova ocena ambijenta: </strong>
                                <select ng-model="ReservationViewCtrl.newRating.a">
                                    <option value=1>1</option>
                                    <option value=2>2</option>
                                    <option value=3>3</option>
                                    <option value=4>4</option>
                                    <option value=5>5</option>
                                </select>
                            </div>
                            <div>
                                <strong>Nova ocena projekcije: </strong>
                                <select ng-model="ReservationViewCtrl.newRating.p">
                                    <option value=1>1</option>
                                    <option value=2>2</option>
                                    <option value=3>3</option>
                                    <option value=4>4</option>
                                    <option value=5>5</option>
                                </select>
                            </div>
                            <div>
                                <button class="btn btn-sm btn-warning" ng-click="ReservationViewCtrl.updateRating(reservation.reservation.id)">Izmeni</button>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>

        </div>
    </li>
</ul>