<div>
	<h3 align="center">Lični podaci</h3>
	<form class="form-horizontal">
	
		<div>
			<label class="control-label">Ime:</label>
			<input name="name" class="form-control" ng-model="UserUpdateDataCtrl.user.name">
		</div>
		<div>
			<label class="control-label">Prezime:</label>
			<input name="lastname" class="form-control" ng-model="UserUpdateDataCtrl.user.surname">
		</div>
		<div>
				<label class="control-label">Grad:</label>
				<input name="city" class="form-control" ng-model="UserUpdateDataCtrl.user.city">
			</div>
		<div>
			<label class="control-label">Telefon:</label>
			<input name="phone" class="form-control" ng-model="UserUpdateDataCtrl.user.phoneNumber">
		</div>
		<div>
			<button class="btn btn-default" name="update" ng-click="UserUpdateDataCtrl.update()">Sačuvaj</button>
		</div>
	
	</form>
</div>