<div class="row">
    <div class="col-md-9">
        <header id="repertoire-header">
            <div class="col-md-12">
                <h3>Na Repertoaru</h3>
                <button class="btn btn-default" ng-click="$parent.show = !$parent.show" ng-if="$root.user != null && $root.user.role === 'ESTABLISHMENT_ADMIN'">
                    <span class="glyphicon glyphicon-plus"></span> Film</button>
            </div>
        </header>
        <div class="row">
            <div id="repertoire-create-form" class="col-md-6 col-md-offset-3" ng-show="show">
                <form class="form-horizontal" ng-submit="RepertoireCtrl.addEvent()" role="form">
                    <h3>Novi film/predstava</h3>
                    <div class="form-group">
                        <label for="name" class="col-sm-2 control-label">Naziv</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="username" ng-model="RepertoireCtrl.newEvent.name" required>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="director" class="col-sm-2 control-label">Rešiser</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="director" ng-model="RepertoireCtrl.newEvent.director" required>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="cast" class="col-sm-2 control-label">Glumci</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="cast" ng-model="RepertoireCtrl.newEvent.cast" required>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="genre" class="col-sm-2 control-label">Žanr</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="genre" ng-model="RepertoireCtrl.newEvent.genre" required>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="description" class="col-sm-2 control-label">Opis</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="description" ng-model="RepertoireCtrl.newEvent.description" required>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="duration" class="col-sm-2 control-label">Trajanje</label>
                        <div class="col-sm-10">
                            <input type="number" class="form-control" id="duration" ng-model="RepertoireCtrl.newEvent.duration" placeholder="[u minutama]"
                                required>
                        </div>
                    </div>

                    <div class="form-group btn-wrapper">
                        <button type="submit" class="btn btn-primary">
                            Kreiraj
                        </button>
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            <div ng-repeat="day in RepertoireCtrl.days" class="days">
                <a href="#!repertoar/{{RepertoireCtrl.cinemaId}}/{{$index}}" class="btn btn-default">
                    <h4 class="time">{{RepertoireCtrl.days[$index] | date: 'dd. MMMM'}}</h4>
                </a>
                
            </div>
        </div>
        </br>
        <ul id="repertoire">
            <li class="col-md-12" ng-repeat="proj in RepertoireCtrl.projections">
                <div>
                    <div class="col-md-3 text-center">
                        <a href="">
                            <img class="img-responsive" width="190" height="285" src="" alt="No image yet">
                        </a>
                    </div>
                    <div class="col-md-5">
                        <h3 class="title">{{proj.name}}</h3>
                        <div class="info_block">
                            <div>
                                <strong>Režiser: </strong>{{proj.director}}</div>
                            <div>
                                <strong>Glumci: </strong>{{proj.cast}}</div>
                            <div>
                                <strong>Žanr: </strong>{{proj.genre}}</div>
                            <div>
                                <strong>Trajanje: </strong>{{proj.duration}} min</div>
                            <div>
                                <strong>Opis: </strong>{{proj.description}}</div>
                            <div>
                                <a class="btn btn-sm btn-warning" ng-href="#!repertoar/{{RepertoireCtrl.establishmentId}}/izmena/{{proj.id}}" ng-if="$root.user != null && $root.user.role === 'ESTABLISHMENT_ADMIN'">Ažuriraj</a>
                                <button class="btn btn-sm btn-danger" ng-confirm-click="Da li ste sigurni?" confirmed-click="RepertoireCtrl.deleteEvent(proj.id)" ng-if="$root.user != null && $root.user.role === 'ESTABLISHMENT_ADMIN'">Obriši</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 text-center projection-block">
                        <h4>Izaberi vreme projekcije i rezerviši</h4>
                        <a ng-repeat="projInfo in proj.schedule" href="#!/rezervacija/{{RepertoireCtrl.establishmentId}}/{{proj.id}}/{{projInfo.id}}" class="btn btn-default" >
                            <h4 class="time">{{projInfo.dateAndTime | date:'HH:mm'}}</h4>
                            {{projInfo.price}} rsd
                            <span>
                                <hr>
                                <strong>Sala: </strong>{{projInfo.halls[0].name}}
                            </span>
                        </a>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="col-md-3">
        <header id="repertoire-header">
            <div class="col-md-12">
                <h3>Karte na popustu</h3>
            </div>
        </header>
        <div class="col-md-12">
            <a ng-href="#!/brzarezervacija/{{RepertoireCtrl.establishmentId}}/izmena" ng-if="$root.user != null && $root.user.role === 'ESTABLISHMENT_ADMIN'"><button class="btn btn-primary btn-block">Dodaj karte</button></a>
        </div>
        <div class="col-md-12">
            <div ng-repeat="(key, value) in RepertoireCtrl.discountedTickets">
                <div class="panel panel-default" ng-repeat="p in value">
                    <div class="panel-heading">
                        <h3 class="panel-title">{{key}}</h3>
                    </div>
                    <div class="panel-body">
                        <ul>
                            <li><strong>Datum: </strong>{{p.projection.dateAndTime | date: 'dd-MMM-yyyy'}}</li>
                            <li><strong>Vreme: </strong>{{p.projection.dateAndTime | date: 'HH:mm'}}</li>
                            <li><strong>Sala: </strong>{{p.projection.halls[0].name}}</li>
                            <li><strong>Sedište: </strong>{{p.seat.id}}</li>
                            <li><strong>Cena: </strong>{{p.projection.price}}</li>
                            <li><strong>Popust: </strong>{{p.discount}}%</li>
                            <li>
                                <button class="btn btn-sm btn-primary" ng-click="RepertoireCtrl.fastReserve(p.id, key)" ng-if="$root.user != null && $root.user.role === 'DEFAULT'">Rezerviši</button>
                                <button class="btn btn-sm btn-danger" ng-click="RepertoireCtrl.deleteDiscountedTicket(p.id)" ng-if="$root.user != null && $root.user.role === 'ESTABLISHMENT_ADMIN'">Obriši</button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>