<ul class="nav nav-tabs">
    <li><a ng-click="EditRepertoireCtrl.toggleEditView()">Izmena detalja</a></li>
    <li><a ng-click="EditRepertoireCtrl.toggleAddView()">Dodavanje projekcije</a></li>
    <li><a ng-click="EditRepertoireCtrl.togglePreviewView()">Pregled projekcija</a></li>
</ul>
<div id="repertoire-create-form" class="col-md-6 col-md-offset-3" ng-show="EditRepertoireCtrl.flags.edit">
    <form class="form-horizontal" ng-submit="EditRepertoireCtrl.updateEvent()" role="form">
        <h3>Ažuriraj film/predstavu</h3>
        <div class="alert alert-success" ng-if="EditRepertoireCtrl.alertMessage">
            {{alertMessage}}
        </div>
        <div class="form-group">
            <label for="name" class="col-sm-2 control-label">Naziv</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="username" ng-model="EditRepertoireCtrl.event.name" required>
            </div>
        </div>

        <div class="form-group">
            <label for="director" class="col-sm-2 control-label">Rešiser</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="director" ng-model="EditRepertoireCtrl.event.director" required>
            </div>
        </div>

        <div class="form-group">
            <label for="cast" class="col-sm-2 control-label">Glumci</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="cast" ng-model="EditRepertoireCtrl.event.cast" required>
            </div>
        </div>

        <div class="form-group">
            <label for="genre" class="col-sm-2 control-label">Žanr</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="genre" ng-model="EditRepertoireCtrl.event.genre" required>
            </div>
        </div>

        <div class="form-group">
            <label for="description" class="col-sm-2 control-label">Opis</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="description" ng-model="EditRepertoireCtrl.event.description" required>
            </div>
        </div>

        <div class="form-group">
            <label for="duration" class="col-sm-2 control-label">Trajanje</label>
            <div class="col-sm-10">
                <input type="number" class="form-control" id="duration" ng-model="EditRepertoireCtrl.event.duration" placeholder="[u minutama]" required>
            </div>
        </div>

        <div class="form-group btn-wrapper">
            <button type="submit" class="btn btn-primary">
                Sačuvaj
            </button>
            <button class="btn btn-danger" ng-click="EditRepertoireCtrl.cancel()">
                Poništi
            </button>
        </div>
    </form>
</div>
<div id="repertoire-create-form" class="col-md-6 col-md-offset-3" ng-show="EditRepertoireCtrl.flags.add">
    <form class="form-horizontal" ng-submit="EditRepertoireCtrl.addProjection()">
        <h3>Nova projekcija</h3>
        <div class="alert alert-success" ng-if="EditRepertoireCtrl.success">
            {{EditRepertoireCtrl.success}}
        </div>
        <div class="alert alert-danger" ng-if="EditRepertoireCtrl.error">
            {{EditRepertoireCtrl.error}}
        </div>
        <div class="form-group">
            <label for="date" class="col-sm-2 control-label">Datum</label>
            <div class="col-sm-10">
                <input type="date" class="form-control" id="date" ng-model="EditRepertoireCtrl.projection.date" required>
            </div>
        </div>
        <div class="form-group">
            <label for="time" class="col-sm-2 control-label">Vreme</label>
            <div class="col-sm-10">
                <input type="time" class="form-control" id="time" ng-model="EditRepertoireCtrl.projection.time" required>
            </div>
        </div>
        <div class="form-group">
            <label for="price" class="col-sm-2 control-label">Cena</label>
            <div class="col-sm-10">
                <input type="number" id="price" class="form-control" ng-model="EditRepertoireCtrl.projection.price" required>
            </div>
        </div>
        <div class="form-group">
            <label for="hall" class="col-sm-2 control-label">Sala</label>
            <div class="col-sm-10">
                <select id="hall" class="form-control" ng-model="EditRepertoireCtrl.projection.selectedHall" required>
                    <option ng-repeat="option in EditRepertoireCtrl.halls" value="{{option.id}}">{{option.name}}</option>
                </select>
            </div>
        </div>
        <div class="form-group btn-wrapper">
            <button type="submit" class="btn btn-primary">Dodaj</button>
        </div>
    </form>
</div>
<div ng-show="EditRepertoireCtrl.flags.preview">
    <div class="row">
        <div class="col-md-4 col-md-offset-2">
            <div class="panel panel-default panel-hover" ng-repeat="proj in EditRepertoireCtrl.event.schedule" ng-click="EditRepertoireCtrl.selectProjection(proj)">
                <div class="panel-heading">{{EditRepertoireCtrl.event.name}}</div>
                <div class="panel-body">
                    <ul>
                        <li><strong>Datum: </strong>{{proj.dateAndTime | date: 'dd-MMM-yyyy'}}</li>
                        <li><strong>Vreme: </strong>{{proj.dateAndTime | date: 'HH:mm'}}</li>
                        <li><strong>Sala: </strong>{{proj.halls[0].name}}</li>
                        <li><strong>Cena: </strong>{{proj.price}}</li>
                        <li><button class="btn btn-sm btn-danger" ng-click="EditRepertoireCtrl.deleteProjection(proj.id)">Obriši</button></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div id="repertoire-create-form" class="col-md-12">
                <div class="form-group">
                    <div class="alert alert-danger" ng-if="EditRepertoireCtrl.unsuccessfulUpdate">
                        {{EditRepertoireCtrl.unsuccessfulUpdate}}
                    </div>
                    <label for="date" class="col-sm-2 control-label">Datum</label>
                    <div class="col-sm-10">
                        <input type="date" class="form-control" id="date" ng-model="EditRepertoireCtrl.selectedProjection.date" required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="time" class="col-sm-2 control-label">Vreme</label>
                    <div class="col-sm-10">
                        <input type="time" class="form-control" id="time" ng-model="EditRepertoireCtrl.selectedProjection.date" required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="price" class="col-sm-2 control-label">Cena</label>
                    <div class="col-sm-10">
                        <input type="number" id="price" class="form-control" ng-model="EditRepertoireCtrl.selectedProjection.price" required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="hall" class="col-sm-2 control-label">Sala</label>
                    <div class="col-sm-10">
                        <select id="hall" class="form-control" ng-model="EditRepertoireCtrl.selectedProjection.halls[0]" required>
                            <option ng-repeat="option in EditRepertoireCtrl.halls" value="{{option.id}}">{{option.name}}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group btn-wrapper">
                    <button class="btn btn-primary" ng-click="EditRepertoireCtrl.updateProjection()">Ažuriraj</button>
                </div>
            </div>
            
        </div>
    </div>
</div>