<div>
	<h1>Login page</h1>
</div>

<div>
<form ng-hide="loggedIn" ng-show="!loggedIn" ng-submit="LoginCtrl.logIn()" >
  	<div class="col-md-4"></div>
  	<div class="col-md-4">
  	<div class="form-group">
	  	<div class="input-group">
	  		<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
	  		<input class="form-control" type="text" ng-model="LoginCtrl.credentials.email" placeholder="E-mail" name="email" required>
	  	</div>

	  	<div class="input-group">
	  		<span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
	  		<input  class="form-control" type="password" ng-model="LoginCtrl.credentials.password" placeholder="Password" name="password" required>
	  	</div>
	  </div>
	  	<button class ="btn btn-success btn-block btn-lg" type="submit">Login</button>
  	</div>
  	<div class="col-md-4"></div>



  </form>



 </div>
