<div>
	<h1>Registration page</h1>
	<div>
	<form ng-submit="RegistrationCtrl.registerNewUser()" name="register" novalidate >
		<div class="form-group row">
			<div class="col-md-4"></div>
			<div class="col-md-4">
				<div class="form-group">
					<label class="control-label">Email:</label>
					<input type="text" required name="email" class="form-control"
						ng-model="RegistrationCtrl.user.email">
				</div>
				<div class="form-group">
					<label  class="control-label">Password:</label>
					<input type="password" required name="password" id= "password" class="form-control"
						ng-model="RegistrationCtrl.user.password" >
				</div>
				<div class="form-group">
					<label  class="control-label">Confirm password:</label>
					<input type="password" required name="confirmPassword" class="form-control"
						ng-model="RegistrationCtrl.confirmPassword">
				</div>
				<div class="form-group">
					<label class="control-label">Name:</label>
					<input type="text" required name="Name" class="form-control"
					ng-model="RegistrationCtrl.user.name">
				</div>
				<div class="form-group">
					<label class="control-label">Surname:</label>
					<input type="text" required name="surname" class="form-control"
					ng-model="RegistrationCtrl.user.surname">
				</div>
				<div class="form-group">
					<label class="control-label">Phone number:</label>
					<input type="text" required name="phone" class="form-control"
					ng-model="RegistrationCtrl.user.phoneNumber">
				</div>
				<div class="form-group">
					<label class="control-label">City:</label>
					<input type="text" required name="city" class="form-control"
					ng-model="RegistrationCtrl.user.city">
				</div>
				</br>
				<span class="error" ng-show="(register.confirmPassword.$dirty && !(RegistrationCtrl.confirmPassword === RegistrationCtrl.user.password))">
				 Passwords do not match. </span>
				<div>
					<button type="submit" ng-disabled="!(register.$valid && (RegistrationCtrl.confirmPassword === RegistrationCtrl.user.password))"
					 class="btn btn-primary btn-block btn-lg" name="signup">Sign Up</button>
				</div>
			</div>
			<div class="col-md-4"></div>
		</div>
	</form>

</div>


</div>
