<div>
	<h3 align="center">Novi rekvizit</h3>
	<form>
		<div class="form-group">
			<label for="name">Naziv:</label> 
			<input class="form-control" id="name" ng-model="FanZoneAdminNewPropCtrl.newProp.name"/>
		</div>
		<div class="form-group">
			<label for="description">Opis:</label> 
			<input class="form-control" id="description" ng-model="FanZoneAdminNewPropCtrl.newProp.description"/>
		</div>
		<div class="form-group">
			<label for="price">Cena:</label> 
			<input class="form-control" id="price" ng-model="FanZoneAdminNewPropCtrl.newProp.price"/>
		</div>
		<div>
			<label class="control-label">Pozoriste/Bioskop:</label>
			<select class="form-control" 
					ng-options="establishment as establishment.name for establishment in FanZoneAdminNewPropCtrl.establishments track by establishment.id"
					ng-model="FanZoneAdminNewPropCtrl.newProp.establishment"/>
		</div>
		<button type="button" ng-click="FanZoneAdminNewPropCtrl.createNewProp(FanZoneAdminNewPropCtrl.newProp)">Kreiraj rekvizit</button>
	</form>

</div>